/*will need to define media queries at several break points and test values
        so that elements at different viewport sizes can be rendered as 
        appropriately as possible*/

body {
    marign: 0 auto;
    width:100%;
}
@media (max-width: 1920px) {
    body {
        background: #000000 url(../images/bg_1920.jpg) no-repeat center top;
    }
}
@media (max-width: 1280px) {
    body {
        background: #000000 url(../images/bg_1280.jpg) no-repeat center top;
    }
}
@media (max-width: 800px) {
    body {
        background: #000000 url(../images/bg_800.jpg) no-repeat center top;
    }
}
@media (max-width: 480px) {
    body {
        background: #000000 url(../images/bg_480.jpg) no-repeat center top;
    }
}





